version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "4001:4001"
    env_file:
      - ./backend/.env
    environment:
      - PORT=4001
      - MONGO_URI=mongodb://mongo:27017/skillvault
      - REDIS_URL=redis://redis:6379
      - JWT_SECRET=supersecretkey
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis
    ports:
      - "6379:6379"

volumes:
  mongo-data: